 .panel {
  margin:auto;
  display: flex;
  justify-content:center;                                                              
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;  
}

.panel-body{
  width: 95%;
}

.justify-content{
  font-size: 14px;
  display: flex;
  justify-content: space-between;                                                              
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

label.form-check-label {
  width:120px;
}

.text {
  padding-top:10px;
}

@media screen and (min-width:641px){
 .panel {
   width: 550px;
   margin-bottom: 10px;
}
form {
  padding:20px;
  border: 2px solid #D3D3D3;
  border-radius:25px;
}
}

@media screen and (min-height: 480px){
  .panel {
    margin-top:80px;
  }
}

@media screen and (max-width: 640px){
  .panel {
    width: 95%;
  }
}